.login__container{
  max-width: 440px;
  padding: 0 20px;
  margin: 170px auto;
  width: 100%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
}
.login__container .title{
  height: 90px;
  background: var(--robin-blue-color);
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login__container form{
  padding: 30px 25px 25px 25px;
}
.login__container form .row{
  height: 45px;
  margin-bottom: 15px;
  position: relative;
  margin-bottom: 40px;
  
}
.login__container form .row input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 16px;
  transition: all 0.3s ease;
}
form .row input:focus{
  border-color: #16a085;
  box-shadow: inset 0px 0px 2px 2px rgba(26,188,156,0.25);
}
form .row input::placeholder{
  color: #999;
}
.login__container form .row i{
  position: absolute;
  width: 47px;
  height: 100%;
  color: #fff;
  font-size: 18px;
  background: #16a085;
  border: 1px solid #16a085;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login__container form .pass{
  margin: -8px 0 20px 0;
}
.login__container form .pass a{
  color: #16a085;
  font-size: 17px;
  text-decoration: none;
}
.login__container form .pass a:hover{
  text-decoration: underline;
}
.login__container form .button input{
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  background: #16a085;
  border: 1px solid #16a085;
  cursor: pointer;
}
form .button input:hover{
  background: #12876f;
}
.login__container form .signup-link{
  text-align: center;
  font-size: 18px;
}
.login__container form .signup-link a{
  color: #16a085;
  text-decoration: none;
}
form .signup-link a:hover{
  text-decoration: underline;
}
.signup-link_register{
  margin-left: auto;
}
